<div class="content-wrapper">
  <div class="content-heading">
    <div class="pull-right">
      <div class="btn-group">
        <button type="button" data-toggle="dropdown" class="btn btn-default">English</button>
        <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
          <li><a href="#" data-set-lang="en">English</a>
          </li>
          <li><a href="#" data-set-lang="es">Spanish</a>
          </li>
        </ul>
      </div>
    </div>
    Dashboard
  </div>
  <!-- START widgets box-->
  <div class="row">
    <div class="col-lg-3 col-sm-6">
      <div class="panel widget bg-primary">
        <div class="row row-table">
          <div class="col-xs-4 text-center bg-primary-dark pv-lg">
             <i class="fa fa-retweet fa-3x" aria-hidden="true"></i>
          </div>
          <div class="col-xs-8 pv-lg">
             <div class="h2 mt0"><%= @retweets_today %></div>
             <div class="text-uppercase">Retweets</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <!-- START widget-->
      <div class="panel widget bg-purple">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-purple-dark pv-lg">
               <em class="icon-heart fa-3x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h2 mt0"><%= @favorites_today %>
               </div>
               <div class="text-uppercase">Favorites</div>
            </div>
         </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <!-- START widget-->
      <div class="panel widget bg-green">
        <div class="row row-table">
          <div class="col-xs-4 text-center bg-green-dark pv-lg">
             <em class="icon-bubbles fa-3x"></em>
          </div>
          <div class="col-xs-8 pv-lg">
             <div class="h2 mt0"><%= @mentions_today %></div>
             <div class="text-uppercase">Mentions</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <!-- START date widget-->
      <div class="panel widget">
        <div class="row row-table">
          <div class="col-xs-4 text-center bg-green pv-lg">
            <!-- See formats: https://docs.angularjs.org/api/ng/filter/date-->
            <div data-now="" data-format="MMMM" class="text-sm"></div>
            <br>
            <div data-now="" data-format="D" class="h2 mt0"></div>
          </div>
          <div class="col-xs-8 pv-lg">
            <div data-now="" data-format="dddd" class="text-uppercase"></div>
            <br>
            <div data-now="" data-format="h:mm" class="h2 mt0"></div>
            <div data-now="" data-format="a" class="text-muted text-sm"></div>
          </div>
        </div>
      </div>
      <!-- END date widget    -->
    </div>
  </div>
  <!-- END widgets box-->
  <div class="row">
    <div class="col-lg-9">
      <div class="row">
        <div class="col-lg-12">

          <div id="panelChart2" class="panel panel-default panel demo">
            <div class="panel-heading">
               <div class="panel-title">Bar</div>
            </div>
            <div class="panel-body">
               <div class="chart-bar flot-chart" style="padding: 0px; position: relative;">
                <canvas class="flot-base" width="454" height="250" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 454px; height: 250px;">                  
                </canvas>
                <div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);">
                  <div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;">
                    <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 45px; top: 232px; left: 27px; text-align: center;">Jan</div>
                    <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 45px; top: 232px; left: 71px; text-align: center;">Feb</div>
                    <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 45px; top: 232px; left: 114px; text-align: center;">Mar</div>
                    <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 45px; top: 232px; left: 159px; text-align: center;">Apr</div>
                    <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 45px; top: 232px; left: 202px; text-align: center;">May</div>
                    <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 45px; top: 232px; left: 246px; text-align: center;">Jun</div>
                    <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 45px; top: 232px; left: 292px; text-align: center;">Jul</div>
                    <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 45px; top: 232px; left: 334px; text-align: center;">Aug</div>
                    <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 45px; top: 232px; left: 378px; text-align: center;">Sep</div>
                    <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 45px; top: 232px; left: 422px; text-align: center;">Oct</div>
                  </div>
                  <div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;">
                    <div class="flot-tick-label tickLabel" style="position: absolute; top: 219px; left: 12px; text-align: right;">0</div>
                    <div class="flot-tick-label tickLabel" style="position: absolute; top: 175px; left: 6px; text-align: right;">20</div>
                    <div class="flot-tick-label tickLabel" style="position: absolute; top: 131px; left: 6px; text-align: right;">40</div>
                    <div class="flot-tick-label tickLabel" style="position: absolute; top: 88px; left: 6px; text-align: right;">60</div>
                    <div class="flot-tick-label tickLabel" style="position: absolute; top: 44px; left: 6px; text-align: right;">80</div>
                    <div class="flot-tick-label tickLabel" style="position: absolute; top: 1px; left: 1px; text-align: right;">100</div>
                  </div>
                </div>
                <canvas class="flot-overlay" width="454" height="250" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 454px; height: 250px;">                  
                </canvas>
                <div class="legend">
                  <div style="position: absolute; width: 52px; height: 23px; top: 14px; right: 15px; opacity: 0.85; background-color: rgb(252, 252, 252);"> 
                  </div>
                  <table style="position:absolute;top:14px;right:15px;;font-size:smaller;color:#545454">
                    <tbody>
                      <tr>
                        <td class="legendColorBox">
                          <div style="border:1px solid #ccc;padding:1px">
                            <div style="width:4px;height:0;border:5px solid #9cd159;overflow:hidden">                              
                            </div>
                          </div>
                        </td>
                        <td class="legendLabel">
                          Sales
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            </div>
          </div>
      
        </div>
        <!-- END chart-->
        <!-- START multiple list group -->
        <h2>Most Current Tweets</h2>
        <div class="list-group">
          <a href="#" class="list-group-item">
            <table class="wd-wide">
              <tbody>
                <tr>                    
                  <td class="wd-xs">
                    <div class="ph">
                      <p class="m0">Image</p>
                    </div>
                  </td>
                  <td>
                    <div class="ph">
                       <p class="m0">Text</p>
                    </div>
                  </td>
                  <td class="wd-sm hidden-xs hidden-sm">
                    <div class="ph">
                       <p class="m0">Date</p>
                    </div>
                  </td>
                  <td class="wd-xs hidden-xs hidden-sm">
                    <div class="ph">
                       <p class="m0">
                          <em class="icon-users mr fa-lg"></em>Retweets</p>
                    </div>
                  </td>
                  <td class="wd-xs hidden-xs hidden-sm">
                    <div class="ph">
                       <p class="m0">Favorites</p>
                    </div>
                  </td>
                  <td class="wd-sm">
                    <div class="ph">
                       <progressbar value="80" type="success" class="m0 progress-xs">Rank</progressbar>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </a>
        </div>         
        <div ng-app="app">
          <div ng-controller="tweetsCtrl" ng-init="setup()">
            <div class="list-group" ng-repeat="tweet in tweets | limitTo: 5">            
              <a href="#" class="list-group-item">
                <table class="wd-wide">
                  <tbody>
                    <tr>
                      <td class="wd-xs">
                        <div class="ph">
                          <img style='border:none'src="{{ tweet.media[0].media_url }}" class="media-box-object img-responsive img-rounded thumb64">
                        </div>
                      </td>
                      <td>
                        <div class="ph">
                          <small class="text-muted">{{ tweet.text }}</small>
                        </div>
                      </td>
                      <td class="wd-sm hidden-xs hidden-sm">
                        <div class="ph">                               
                          <small class="text-muted">{{ tweet.created_at }}</small>
                        </div>
                      </td>
                      <td class="wd-xs hidden-xs hidden-sm">
                        <div class="ph">
                          <p class="m0 text-muted">
                            {{ tweet.retweet_count }}
                          </p>
                        </div>
                      </td>
                      <td class="wd-xs hidden-xs hidden-sm">
                        <div class="ph">
                          <p class="m0 text-muted">{{ tweet.favorites_count }}</p>
                        </div>
                      </td>
                      <td class="wd-sm">
                        <div class="ph">
                          <progressbar value="80" type="success" class="m0 progress-xs">80%</progressbar>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </a>
            </div>
          </div>
        </div>   
      </div>
      <!-- END dashboard main content-->
      <!-- START dashboard sidebar-->
      <aside class="col-lg-3">
        <!-- START loader widget-->
        <div class="panel panel-default">
           <div class="panel-body">
              <a href="#" class="text-muted pull-right">
                 <em class="fa fa-arrow-right"></em>
              </a>
              <div class="text-info">Average Monthly Uploads</div>
              <canvas data-classyloader="" data-percentage="70" data-speed="20" data-font-size="40px" data-diameter="70" data-line-color="#23b7e5" data-remaining-line-color="rgba(200,200,200,0.4)" data-line-width="10" data-rounded-line="true" class="center-block js-is-in-view" width="200" height="200"></canvas>
              <div data-sparkline="" data-bar-color="#23b7e5" data-height="30" data-bar-width="5" data-bar-spacing="2" data-values="5,4,8,7,8,5,4,6,5,5,9,4,6,3,4,7,5,4,7" class="text-center"></div>
           </div>
           <div class="panel-footer">
              <p class="text-muted">
                 <em class="fa fa-upload fa-fw"></em>
                 <span>This Month</span>
                 <span class="text-dark">1000 Gb</span>
              </p>
           </div>
        </div>
        <!-- END loader widget-->
        <!-- START messages and activity-->
        <div class="panel panel-default">
           <div class="panel-heading">
              <div class="panel-title">Latest activities</div>
           </div>
           <!-- START list group-->
           <div class="list-group">
              <!-- START list group item-->
              <div class="list-group-item">
                 <div class="media-box">
                    <div class="pull-left">
                       <span class="fa-stack">
                          <em class="fa fa-circle fa-stack-2x text-purple"></em>
                          <em class="fa fa-cloud-upload fa-stack-1x fa-inverse text-white"></em>
                       </span>
                    </div>
                    <div class="media-box-body clearfix">
                       <small class="text-muted pull-right ml">15m</small>
                       <div class="media-box-heading"><a href="#" class="text-purple m0">NEW FILE</a>
                       </div>
                       <p class="m0">
                          <small><a href="#">Bootstrap.xls</a>
                          </small>
                       </p>
                    </div>
                 </div>
              </div>
              <!-- END list group item-->
              <!-- START list group item-->
              <div class="list-group-item">
                 <div class="media-box">
                    <div class="pull-left">
                       <span class="fa-stack">
                          <em class="fa fa-circle fa-stack-2x text-info"></em>
                          <em class="fa fa-file-text-o fa-stack-1x fa-inverse text-white"></em>
                       </span>
                    </div>
                    <div class="media-box-body clearfix">
                       <small class="text-muted pull-right ml">2h</small>
                       <div class="media-box-heading"><a href="#" class="text-info m0">NEW DOCUMENT</a>
                       </div>
                       <p class="m0">
                          <small><a href="#">Bootstrap.doc</a>
                          </small>
                       </p>
                    </div>
                 </div>
              </div>
              <!-- END list group item-->
              <!-- START list group item-->
              <div class="list-group-item">
                 <div class="media-box">
                    <div class="pull-left">
                       <span class="fa-stack">
                          <em class="fa fa-circle fa-stack-2x text-danger"></em>
                          <em class="fa fa-exclamation fa-stack-1x fa-inverse text-white"></em>
                       </span>
                    </div>
                    <div class="media-box-body clearfix">
                       <small class="text-muted pull-right ml">5h</small>
                       <div class="media-box-heading"><a href="#" class="text-danger m0">BROADCAST</a>
                       </div>
                       <p class="m0"><a href="#">Read</a>
                       </p>
                    </div>
                 </div>
              </div>
              <!-- END list group item-->
              <!-- START list group item-->
              <div class="list-group-item">
                 <div class="media-box">
                    <div class="pull-left">
                       <span class="fa-stack">
                          <em class="fa fa-circle fa-stack-2x text-success"></em>
                          <em class="fa fa-clock-o fa-stack-1x fa-inverse text-white"></em>
                       </span>
                    </div>
                    <div class="media-box-body clearfix">
                       <small class="text-muted pull-right ml">15h</small>
                       <div class="media-box-heading"><a href="#" class="text-success m0">NEW MEETING</a>
                       </div>
                       <p class="m0">
                          <small>On
                             <em>10/12/2015 09:00 am</em>
                          </small>
                       </p>
                    </div>
                 </div>
              </div>
              <!-- END list group item-->
              <!-- START list group item-->
              <div class="list-group-item">
                 <div class="media-box">
                    <div class="pull-left">
                       <span class="fa-stack">
                          <em class="fa fa-circle fa-stack-2x text-warning"></em>
                          <em class="fa fa-tasks fa-stack-1x fa-inverse text-white"></em>
                       </span>
                    </div>
                    <div class="media-box-body clearfix">
                       <small class="text-muted pull-right ml">1w</small>
                       <div class="media-box-heading"><a href="#" class="text-warning m0">TASKS COMPLETION</a>
                       </div>
                       <div class="progress progress-xs m0">
                          <div role="progressbar" aria-valuenow="22" aria-valuemin="0" aria-valuemax="100" style="width: 22%" class="progress-bar progress-bar-warning progress-bar-striped">
                             <span class="sr-only">22% Complete</span>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <!-- END list group item-->
           </div>
           <!-- END list group-->
           <!-- START panel footer-->
           <div class="panel-footer clearfix">
              <a href="#" class="pull-left">
                 <small>Load more</small>
              </a>
           </div>
           <!-- END panel-footer-->
        </div>
        <!-- END messages and activity-->
     </aside>
     <!-- END dashboard sidebar-->
  </div>
</div>