 <div ng-app="app" class="content-wrapper">
  <div ng-controller="tweetsCtrl" ng-init="setup()">
    <h1>Recent Tweets</h1>
    <div class="list-group">
      <div class="list-group-item" style='background-color:#F9FAFB'>
        <table class="wd-wide">
          <tbody>
            <tr class='tweet-menu'>
              <td class="wd-xs">
                <div class="ph">
                  <p class="m0">Image</p>
                </div>
              </td>
              <td>
                <div class="ph">
                   <p class="m0" ng-click="changeOrderAttribute('text')">Text</p>
                </div>
              </td>
              <td class="wd-sm hidden-xs hidden-sm">
                <div class="ph">
                  <p class="m0" ng-click="changeOrderAttribute('created_on')">
                    <a href="javascript:void(0)"> Date</a>
                  </p>
                </div>
              </td>
              <td class="wd-xs hidden-xs hidden-sm">
                <div class="ph">
                  <p class="m0" ng-click="changeOrderAttribute('retweet_count')">
                    <a href="javascript:void(0)"> Retweets</a>
                  </p>
                </div>
              </td>
              <td class="wd-xs hidden-xs hidden-sm">
                <div class="ph">
                  <p class="m0" ng-click="changeOrderAttribute('favorites_count')">
                    <a href="javascript:void(0)"> Favorites</a>
                  </p>
                </div>
              </td>
              <td class="wd-sm">
                <div class="ph">
                   <progressbar value="80" type="success" class="m0 progress-xs">Rank</progressbar>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div style='height:20px'>      
    </div>
    <div class="list-group" ng-repeat="tweet in tweets | orderBy:orderAttribute:sortDir">            
      <a href="#" class="list-group-item">
        <table class="wd-wide">
          <tbody>
            <tr>
              <td class="wd-xs">
                <div class="ph" ng-if="tweet.media[0].media_url">
                  <img style='border-color:green' src="{{ tweet.media[0].media_url }}" class="media-box-object img-responsive img-rounded thumb64">
                </div>
              </td>
              <td>
                <div class="ph">
                  <small class="text-muted">{{ tweet.text }}</small>
                </div>
              </td>
              <td class="wd-sm hidden-xs hidden-sm">
                <div class="ph">                               
                  <small class="text-muted">{{ tweet.created_at | date : format : 'M' }}</small>
                </div>
              </td>
              <td class="wd-xs hidden-xs hidden-sm">
                <div class="ph">
                  <p class="m0 text-muted">
                    {{ tweet.retweet_count }}
                  </p>
                </div>
              </td>
              <td class="wd-xs hidden-xs hidden-sm">
                <div class="ph">
                  <p class="m0 text-muted">{{ tweet.favorites_count }}</p>
                </div>
              </td>
              <td class="wd-sm">
                <div class="ph">
                  <progressbar value="80" type="success" class="m0 progress-xs">80%</progressbar>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </a>
    </div>
  </div>  
</div>
