<div class='row'>
  <div class='composer col-xs-12 col-md-4'>
    <h2>Tweet Composer</h2>
    <%= form_for :tweet, url: tweets_path, method: :post do |f| %>
      <%= f.text_area :message, :value => @message %>
      <%= f.submit "Send Tweet", class: 'btn btn-large btn-success' %>
    <% end %>
  </div>
  <div class='tweet-img col-xs-12 col-md-6'>
    <img src="<%= @image %>">
    <button align='center' class='btn btn-large btn-danger'>Add Image</button>
  </div>
</div>